<div class="jumbotron">
    <h1>Recipe Finder</h1>
    <p></p>
</div>

<form method="post" action="/recipes/byIng">
    Show Recipes by Ingredient: 
      <input type="text" name="subject" 
             placeholder="e.g. Chicken">
    <input type="submit">
</form>