<h1>The recipes are</h1>
Here we want a ul list with the ingredient, name, ingredients, steps, timers, originalURL
<hr>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>name</th>
            <th>ingredients</th> 
            <th>steps</th>
            <th>timers</th>
            <th>originalURL</th>
        </tr>
    </thead>
    <tbody></tbody>
    <% for (recipe of recipes) {
        const main = recipe.name;
         %>
</table>

