<h1>The recipes are</h1>
Here we want a ul list with the ingredient, name, ingredients, steps, timers, originalURL
<hr>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>name</th>
        </tr>
    </thead>
    <tbody></tbody>
    <% for (recipe of recipes) { %>
        <tr class="mb-2"> 
            <td><%= recipe.name %></td>
        </tr>
        <% }%>
</table>

